<div class="container-fluid">
  <div class="row ">
    <div class="col-12 bg-img position-relative">
      <span style="font-size: 1.75rem;font-weight: 500;top: 40%;left: 50%" class="position-absolute">FACILITY</span>
    </div>
  </div>
  <div class="row">
    <div class="col-1 pt-3">
      <a routerLink="/facilityAdd">
        <button class="btn btn-primary">Create</button>
      </a>
    </div>
  </div>

  <div class="row container" style="margin: 50px auto">
    <div class="row p-3">
      <ng-container *ngFor="let item of facilityList;let i = index">
        <div class="col-4 d-flex justify-content-center facility-item" [style.height]="detail==item.id?'auto':'340px'"
             style="margin-bottom: 20px">
          <div class="card" style="width: 18rem;">
            <img width="285px" height="195px"
                 [src]="item.img"
                 class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.area}}</p>
              <table *ngIf="detail == item.id" class="mb-3">
                <tr>
                  <th>Cost</th>
                  <td>{{item.cost}}</td>
                </tr>
                <tr>
                  <th>Max people</th>
                  <td>{{item.maxPeople}}</td>
                </tr>
                <tr>
                  <th>Rent type</th>
                  <td>{{item.rentType.name}}</td>
                </tr>
                <ng-container *ngIf="item.standardRoom">
                  <tr>
                    <th>Standard Room</th>
                    <td>{{item.standardRoom}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="item.description">
                  <tr>
                    <th>Description</th>
                    <td>{{item.description}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="item.poolArea">
                  <tr>
                    <th>Pool area</th>
                    <td>{{item.poolArea}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="item.numberFloors">
                  <tr>
                    <th>Number floors</th>
                    <td>{{item.numberFloors}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="item.facilityFree">
                  <tr>
                    <th>Facility free</th>
                    <td>{{item.facilityFree}}</td>
                  </tr>
                </ng-container>
              </table>
              <div class="row">
                <div class="col-4 d-flex justify-content-center">
                  <button class="btn btn-primary" [textContent]="detail==item.id?'Close':'Detail'"
                          (click)="showDetail(item.id)"></button>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <a [routerLink]="['/facilityEdit',item.id]" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <div (click)="getFacility(item.id)" class="btn btn-danger" data-bs-toggle="modal"
                       data-bs-target="#deleteModal">Delete
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item " >
            <button *ngIf="previous" class="page-link" tabindex="-1"  (click)="previousPage()">Previous</button>
          </li>
          <li *ngIf="previous" class="page-item">
            <button class="page-link" (click)="previousPage()">{{page}}</button>
          </li>
          <li class="page-item"><button style="background-color: #e9ecef" class="page-link">{{page + 1}}</button></li>
          <li *ngIf="next" class="page-item">
            <button class="page-link" (click)="nextPage()">{{page + 2}}</button>
          </li>
          <li class="page-item ">
            <button class="page-link" *ngIf="next" (click)="nextPage()">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="facilityDelete">
          Do you want to delete :{{facilityDelete.name}} ?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="remove()">Save changes</button>
      </div>
    </div>
  </div>
</div>
