<div class="container">
  <div class="row ">
    <h1 class="d-flex justify-content-center">Create Facility</h1>
  </div>
  <div class="row">
    <div class="col-1">
      <a routerLink="/facility">
        <button class="btn btn-primary">Back</button>
      </a>
    </div>
  </div>
  <div>
    <form action="/facility/edit" method="post">
      <div>
        <div class="row">
          <div class="col-6">Facility type</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-select" name="" onload="onchangeFacility(this.value)"
                    onchange="onchangeFacility(this.value)">
              <option value="1">Villa</option>
              <option value="2">House</option>
              <option value="3">Room</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Name</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-6">Cost</div>
        </div>
        <div class="row">
          <div class="col-12"><input type="text" class="form-control"></div>
        </div>
        <div class="row">
          <div class="col-6">Area</div>
        </div>
        <div class="row">
          <div class="col-12"><input class="form-control" type="text"></div>
        </div>
        <div class="row">
          <div class="col-6">Max people</div>
        </div>
        <div class="row">
          <div class="col-12"><input class="form-control" type="text"></div>
        </div>
        <div class="row">
          <div class="col-6">Rent type</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-select" name="" id="">
            </select>
          </div>
        </div>
        <div class="row room">
          <div class="col-6">Standard room</div>
        </div>
        <div class="row room">
          <div class="col-12"><input type="text" class="room form-control"></div>
        </div>
        <div class="row room">
          <div class="col-6">Description other convenience</div>
        </div>
        <div class="row room">
          <div class="col-12"><input class="room form-control" type="text"></div>
        </div>
        <div class="row house room">
          <div class="col-6">Pool area</div>
        </div>
        <div class="row house room">
          <div class="col-12"><input type="text" class="room house form-control"></div>
        </div>
        <div class="row room">
          <div class="col-6">Number of Floors</div>
        </div>
        <div class="row room">
          <div class="col-12 room"><input type="text" class="room form-control">
          </div>
        </div>
        <div class="row villa house" style="display: none">
          <div class="col-6">Facility free</div>
        </div>
        <div class="row villa house" style="zxx z display: none">
          <div class="col-12"><input type="text" class="villa house form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-success">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
