<div class="container">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Contract</h3>
  </div>
  <div class="row">
    <div class="col-1 pt-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContract">Create</button>
    </div>
  </div>
  <table class="table table-info" cellpadding="15px">
    <tr style="background: black;color: white">
      <th>Facility</th>
      <th>Customer</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Deposit</th>
      <th>Total money</th>
      <th colspan="2">Attach facility list</th>
    </tr>
    <tbody>
    <tr *ngFor="let item of contractList">
      <td>{{item[0].facility.name}}</td>
      <td>{{item[0].customer.name}}</td>
      <td>{{item[0].startDate}}</td>
      <td>{{item[0].endDate}}</td>
      <td>{{item[1]}}</td>
      <td>200000</td>
      <td>
        <button class="btn btn-primary" style="background-color: dodgerblue" data-bs-toggle="modal"
                data-bs-target="#attachFacilityModal">
          Attach facility list
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="attachFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách dịch vụ đi kèm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="attachFacilityList" class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create contract</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-3">Start date</div>
            <div class="col-9"><input type="date" class="form-control" formControlName="startDate">
              <p class="text-danger"
                 *ngIf="contractForm.get('startDate').errors && (contractForm.get('startDate').touched||submit)">
                required!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">End date</div>
            <div class="col-9"><input type="date" class="form-control" formControlName="endDate">
              <p class="text-danger"
                 *ngIf="contractForm.get('endDate').errors && (contractForm.get('endDate').touched||submit)">
                required!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">Deposit</div>
            <div class="col-9"><input type="number" class="form-control" formControlName="deposit">
              <p class="text-danger"
                 *ngIf="contractForm.get('deposit').errors && (contractForm.get('deposit').touched||submit)">
                required!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">Total</div>
            <div class="col-9"><input type="text" class="form-control" disabled id="total" value="10000000">
            </div>
          </div>
          <div class="row">
            <div class="col-3">Customer</div>
            <div class="col-9"><select name="" class="form-select" formControlName="customer">
              <option value="" selected>Select Customer</option>
              <option *ngFor="let item of customerList" [value]="item.id">{{item.name}}</option>
            </select>
              <p class="text-danger"
                 *ngIf="contractForm.get('customer').errors && (contractForm.get('customer').touched||submit)">
                required!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">Facility</div>
            <div class="col-9"><select name="" class="form-select" formControlName="facility">
              <option value="" selected>Select facility</option>
              <option *ngFor="let item of facilityList" [value]="item.id">{{item.name}}</option>
            </select>
              <p class="text-danger"
                 *ngIf="contractForm.get('facility').errors && (contractForm.get('facility').touched||submit)">
                required!
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button id="closeModalButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
