<app-header></app-header>
<div class="row" style="">
  <div class="col-12 bg-img">
    <div class="m-5 p-3 row border rounded-3 bg-white sticky">
      <div class="col-4" style="border-right:2px solid gray">
        <span>DESTINATION</span> <br>
        <span style="color: gray">Where can we take you ?</span>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <div class="m-2 bg-dark text-white d-flex justify-content-center border rounded-pill">Find hotels
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:40px -20px 0px 0px;background: #FAFAFA">
  <div class="row h3" style="padding-bottom: 20px">Popular Offers</div>
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//is/image/marriotts7prod/bonvoy-poolside-sunset-42762:Square')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//marriottassets/marriott/Stock/stock-brand-278669-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//content/dam/marriott-renditions/MD/md-lifestyle-0207-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//marriottassets/marriott/Stock/stock-sunset-infinity-pool-1067314-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//is/image/marriotts7prod/bonvoy-family-on-rooftop-32966:Square')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//is/image/marriotts7prod/bonvoy-woman-in-creek-by-water-14699:Square')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//marriottassets/marriott/Stock/stock-brand-278712-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//marriottassets/marriott/Stock/stock-drive-666575-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card-image"
                     style="background-image: url('https://cache.marriott.com//marriottassets/marriott/Stock/stock-sunset-infinity-pool-1067314-sq.jpg')">
                  <div class="card-text m-3 p-5">
                    <div class="row d-flex justify-content-center align-content-center pb-5">
                      VALID THROUGH THG 11 06,2022
                    </div>
                    <div class="row h5 d-flex justify-content-center">
                      Extended Escapes-Save on 5+ nights
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background-color: #e2dede">
  <div class="vl"></div>
</div>
<div class="row">
  <div class="col-7 card-image"
       style="background-image: url('https://www.marriott.com/content/dam/marriott-homepage/destinations/hawaii2.png.transform/mcom-hp-transform-2584x1292/image.png');height: 600px">
    <div class="position-absolute" style="color: white;width: 350px;height: 140px;top: 80px;left: 50px">
      <h2>Hawail</h2>
      <p>Ready for a getaway? The Big Island has it all: sun-warmed beaches, tropical reefs, rainforests and
        more.</p>
    </div>
  </div>
  <div class="col-5" style="padding: 35px">
    <div class="row">
      <div class="col-5">
        <img src="https://www.marriott.com/content/dam/marriott-homepage/destinations/emea/png-images/emea_destinations_Paris.png.transform/mcom-hp-transform-380x570/image.png"
             width="180px" height="280px" style="border-radius: 15px ">
      </div>
      <div class="col-7 d-flex align-items-center">
        <div>
          <div>CITY OF LIGHT</div>
          <h3>Paris</h3>
          <div>Explore Hotel</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7 d-flex align-items-center justify-content-end">
        <div>
          <div>THE SECOND CITY</div>
          <h3>Chicago</h3>
          <div>Explore Hotel</div>
        </div>
      </div>
      <div class="col-5">
        <img src="https://www.marriott.com/content/dam/marriott-homepage/destinations/chijw-attraction-beach-9561-hor-clsc.jpg.transform/mcom-hp-transform-380x570/image.jpg"
             width="180px" height="280px" style="border-radius: 15px ">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
