<div class="container">
  <div class="row ">
    <h1 class="d-flex justify-content-center">Create Customer</h1>
  </div>
  <div class="row">
    <div class="col-1">
      <a routerLink="/customer">
        <button class="btn btn-primary">Back</button>
      </a>
    </div>
  </div>
  <form action="/customer/create" method="post">
    <div class="row">
      <div class="col-12">Name</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control">
        <p class="text-danger"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">Customer type</div>
    </div>
    <div class="row">
      <div class="col-12">
        <select class="form-select">
          <option value="">Diamond</option>
          <option value="">Platinium</option>
          <option value="">Gold</option>
          <option value="">Silver</option>
          <option value="">Member</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">Gender</div>
    </div>
    <div class="row">
      <div class="col-12">
        <select class="form-select">
          <option value="0">Nữ</option>
          <option value="1">Nam</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">Address</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-12">Date of birth</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-12">Email</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text"  class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-12">Id card</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-12">Phone number</div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <button class="btn btn-success">Create</button>
      </div>
    </div>
  </form>
</div>
