<app-header></app-header>
<div class="container">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Contract</h3>
  </div>
  <div class="row">
    <div class="col-1 pt-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContract">Create</button>
    </div>
  </div>
  <table class="table">
    <tr style="background: black;color: white">
      <th>Facility</th>
      <th>Customer</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Deposit</th>
      <th>Total money</th>
      <th colspan="2">Attach facility list</th>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hào</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn btn-primary" style="background-color: dodgerblue" data-bs-toggle="modal"
                data-bs-target="#attachFacilityModal">
          Attach facility list
        </button>
      </td>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hào</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn btn-primary" style="background-color: dodgerblue" data-bs-toggle="modal"
                data-bs-target="#attachFacilityModal">
          Attach facility list
        </button>
      </td>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hào</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn btn-primary" style="background-color: dodgerblue" data-bs-toggle="modal"
                data-bs-target="#attachFacilityModal">
          Attach facility list
        </button>
      </td>
    </tr>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="attachFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách dịch vụ đi kèm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="attachFacilityList" class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm contract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">Ngày bắt đầu</div>
          <div class="col-9"><input type="date" class="form-control" id="startDate"></div>
        </div>
        <div class="row">
          <div class="col-3">Ngày kết thúc</div>
          <div class="col-9"><input type="date" class="form-control" id="endDate"></div>
        </div>
        <div class="row">
          <div class="col-3">Tiền gửi</div>
          <div class="col-9"><input type="number" class="form-control" id="deposit"></div>
        </div>
        <div class="row">
          <div class="col-3">Tổng tiền</div>
          <div class="col-9"><input type="text" class="form-control" disabled id="total" value="10000000">
          </div>
        </div>
        <div class="row">
          <div class="col-3">Khách hàng</div>
          <div class="col-9"><select name="" id="customer" class="form-select">
          </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">Nhân viên</div>
          <div class="col-9"><select name="" id="employee" class="form-select">
          </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">Dịch vụ</div>
          <div class="col-9"><select name="" id="idFacility" class="form-select">
          </select>
          </div>
        </div>
        <div class="row" id="attachFacility">
          <div class="col-3">Dịch vụ đi kèm</div>
          <div class="col-9">
            <div class="row">
              <div class="col-1">
                <button type="button" class="btn btn-primary">+</button>
              </div>
            </div>
            <div class="row attachFacilityList">
              <div class="col-4">
                Tên
              </div>
              <div class="col-2">
                Giá
              </div>
              <div class="col-4">
                số lượng
              </div>
            </div>
            <div class="row attachFacilityList">
              <div class="col-3">
              </div>
              <div class="col-2">
              </div>
              <div class="col-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
