<div class="container-fluid">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Customer</h3>
  </div>
  <div class="row">
    <div class="col-1 pt-3">
      <a routerLink="/customerAdd">
        <button class="btn btn-primary">Create</button>
      </a>
    </div>
  </div>
  <table class="table table-info">
    <thead>
    <tr>
      <th>Name</th>
      <th>Customer type</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Id card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customerList">
      <td>{{item.name}}</td>
      <td>{{item.customerType}}</td>
      <td>{{item.birthDay}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td><a href="/customerEdit">
        <button class="btn btn-success">Edit</button>
      </a></td>
      <td>
        <button class="btn btn-danger" style="background-color: #dc3545" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

