<app-header></app-header>
<div class="container">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Customer</h3>
  </div>
  <div class="row">
    <div class="col-1 pt-3">
      <a href="/customerAdd">
        <button class="btn btn-primary">Create</button>
      </a>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Customer type</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Id card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>Nguyên Văn A</td>
      <td>Diamond</td>
      <td>04/08/2002</td>
      <td>Nam</td>
      <td>300090</td>
      <td>100909</td>
      <td>email@gmail.com</td>
      <td>Đà Nẵng</td>
      <td><a href="/customerEdit">
        <button class="btn btn-success">Edit</button>
      </a></td>
      <td>
        <button class="btn btn-danger" style="background-color: #dc3545" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Nguyên Văn A</td>
      <td>Diamond</td>
      <td>04/08/2002</td>
      <td>Nam</td>
      <td>300090</td>
      <td>100909</td>
      <td>email@gmail.com</td>
      <td>Đà Nẵng</td>
      <td><a>
        <button class="btn btn-success">Edit</button>
      </a></td>
      <td>
        <button type="button" style="background-color: #dc3545" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
