<div class="container">
  <div class="row ">
    <h1 class="d-flex justify-content-center">Create Facility</h1>
  </div>
  <div class="row">
    <div class="col-1">
      <a routerLink="/facility/list">
        <button class="btn btn-primary">Back</button>
      </a>
    </div>
  </div>
  <div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div>
        <div class="row">
          <div class="col-6">Facility type</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-select" name="" formControlName="facilityType" (change)="changeFacilityType($event.target.value)">
              <ng-container *ngFor="let item of facilityTypeList">
                <option *ngIf="item" [value]="item.id">{{item.name}}</option>
              </ng-container>
            </select>
            <p class="text-danger"
               *ngIf="formGroup.get('facilityType').errors && (formGroup.get('facilityType').touched||submit)">
              Required!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Name</div>
        </div>
        <div class="row">
          <div class="col-12">
            <input class="form-control" type="text" formControlName="name">
            <p class="text-danger"
               *ngIf="formGroup.get('name').errors && (formGroup.get('name').touched||submit)">
              Invalid name!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Cost</div>
        </div>
        <div class="row">
          <div class="col-12"><input type="text" class="form-control" formControlName="cost">
            <p class="text-danger"
               *ngIf="formGroup.get('cost').errors && (formGroup.get('cost').touched||submit)">
              Required!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Area</div>
        </div>
        <div class="row">
          <div class="col-12"><input class="form-control" type="number" formControlName="area">
            <p class="text-danger"
               *ngIf="formGroup.get('area').errors && (formGroup.get('area').touched||submit)">
              Required!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">Max people</div>
        </div>
        <div class="row">
          <div class="col-12"><input class="form-control" type="text" formControlName="maxPeople">
            <p class="text-danger"
               *ngIf="formGroup.get('maxPeople').errors && (formGroup.get('maxPeople').touched||submit)">
              Required!
            </p></div>
        </div>
        <ng-container *ngIf="showCreate==1||showCreate==2">
          <div class="row">
            <div class="col-6">Standard room</div>
          </div>
          <div class="row">
            <div class="col-12"><input type="text" class="room form-control" formControlName="standardRoom">
              <p class="text-danger"
                 *ngIf="formGroup.get('standardRoom').errors && (formGroup.get('standardRoom').touched||submit)">
                Required!
              </p>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-6">Rent type</div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-select" name="" id="" formControlName="rentType">
              <option selected value="">Select rent type</option>
              <option *ngFor="let item of rentTypeList" [value]="item.id">{{item.name}}</option>
            </select>
            <p class="text-danger"
               *ngIf="formGroup.get('rentType').errors && (formGroup.get('rentType').touched||submit)">
              Required!
            </p>
          </div>
        </div>
        <ng-container *ngIf="showCreate==1||showCreate==2">
          <div class="row">
            <div class="col-6">Description other convenience</div>
          </div>
          <div class="row room">
            <div class="col-12"><input class="room form-control" type="text" formControlName="description">
              <p class="text-danger"
                 *ngIf="formGroup.get('description').errors && (formGroup.get('description').touched||submit)">
                Required!
              </p>
            </div>
          </div>
        </ng-container >
        <ng-container *ngIf="showCreate==1||showCreate==-1">
          <div class="row">
            <div class="col-6">Pool area</div>
          </div>
          <div>
            <div class="col-12"><input type="number" class="form-control" formControlName="poolArea">
              <p class="text-danger"
                 *ngIf="formGroup.get('poolArea').errors && (formGroup.get('poolArea').touched||submit)">
                Enter a number greater than zero!
              </p></div>
          </div>
        </ng-container>
        <ng-container *ngIf="showCreate==1||showCreate==2">
          <div class="row room">
            <div class="col-6">Number of Floors</div>
          </div>
          <div class="row room">
            <div class="col-12 room"><input type="number" class="room form-control"
                                            formControlName="numberFloors">
              <p class="text-danger"
                 *ngIf="formGroup.get('numberFloors').errors && (formGroup.get('numberFloors').touched||submit)">
                Enter a number greater than zero!
              </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showCreate==3">
          <div class="row">
            <div class="col-6">Facility free</div>
          </div>
          <div>
            <div class="col-12"><input type="text" class="form-control" formControlName="facilityFree">
              <p class="text-danger"
                 *ngIf="formGroup.get('facilityFree').errors && (formGroup.get('facilityFree').touched||submit)">
                Required!
              </p>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-12" class="d-flex justify-content-end pt-3">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
