<h3>register</h3>
<form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <th>Email:</th>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <th>Password:</th>
      <td><input type="text" formControlName="password"></td>
    </tr>
    <tr>
      <th>Confirm password:</th>
      <td><input type="text" formControlName="confirmPassword"></td>
      <td *ngIf="formGroup.get('confirmPassword').errors && formGroup.get('confirmPassword').touched">
        pass
      </td>
    </tr>
    <tr>
      <th>Country:</th>
      <td><input type="text" formControlName="country"></td>
    </tr>
    <tr>
      <th>Age:</th>
      <td><input type="text" formControlName="age"></td>
      <td *ngIf="formGroup.get('age').errors && formGroup.get('age').touched">
        age must be more than 18
      </td>

    </tr>
    <tr>
      <th>Gender:</th>
      <td><input type="radio" value="male" name="gender" formControlName="gender"> Male
        <input type="radio" value="female" name="gender" formControlName="gender"> Female
      </td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td><input type="text" formControlName="phone"></td>
    </tr>
    <tr>
      <td>
        <button>Submit</button>
      </td>
    </tr>
  </table>
</form>

