<div class="container-fluid">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Customer</h3>
  </div>
  <div class="row pb-3">
    <div class="col-1 pt-3">
      <a routerLink="/customer/create">
        <button class="btn btn-primary">Create</button>
      </a>
    </div>
  </div>
  <table class="table table-info">
    <thead>
    <tr>
      <th>Name</th>
      <th>Customer type</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Id card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customerList">
      <td>{{item.name}}</td>
      <td *ngIf="item.customerType">{{item.customerType.name}}</td>
      <td>{{item.birthDay | date:'dd/MM/yyyy' }}</td>
      <td>{{item.gender}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td><a [routerLink]="['/customer/edit',item.id]">
        <button class="btn btn-success">Edit</button>
      </a></td>
      <td>
        <button class="btn btn-danger" style="background-color: #dc3545" data-bs-toggle="modal"
                (click)="showModal(item)"
                data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to delete: <span *ngIf="customerDelete">{{customerDelete.name}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCustomer()">Save
            changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

